.createPost__form {
  height: 500px;
  width: 65%;
  padding: 50px 30px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to right bottom, #4c5aca, #7751c2, #9747b6, #b03ca7, #c33096, #d22c87, #dd2d78, #e43468, #ea4459, #ed554b, #ed663d, #e97731);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.createPost__form > h1 {
  margin-bottom: 20px;
  font-family: "Lobster Two";
  font-weight: 400;;
  font-size: 1.8rem;
  color: #fff;
}

#createPost__title,
#createPost__category-input,
#createPost__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#createPost__title > label,
#createPost__category-input > label,
#createPost__content > label {
  color: #fff;

} 

#createPost__title > input,
#createPost__category-input > input,
#createPost__content > textarea {
  width: 300px;
  padding: 8px;
  border: none;
  border-radius: 3px;
}

#createPost__title > input:focus,
#createPost__title > input:active,
#createPost__category-input > input:focus,
#createPost__category-input > input:active,
#createPost__content > textarea:focus,
#createPost__content > textarea:active {
  outline: none;
}

#createPost__btn {
  width: 300px;
  padding: 12px 18px;
  background-color: #634cca;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: .3s all ease;
  font-size: 1rem;
}

#createPost__btn:hover {
 background-color: #4f3ca7;
}